.root {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding: calc(var(--spacing-page) * 2) var(--spacing-half);

  @mixin desktop {
    flex-direction: row;
  }
}

.gameOver {
  font-size: var(--fs-xxlarge);
  color: var(--c-white);
  font-weight: 900;
}

.about {
  font-size: var(--fs-xlarge);
  color: var(--c-white);
  font-weight: 900;
}

.aboutItem + .aboutItem {
  margin-top: 1em;
}
